<!--プロフィールコンテンツ-->
<div class="container container-mypage">
  
  <div class="row profile-container">
    <div class="media">
      
      <div class="user-icon img mr-3 col-xs-2">
        <% if @user.icon.file.nil? %>
          <%= image_tag 'default_user.jpg' %>
        <% else %>
          <%= image_tag @user.icon.to_s %>
        <% end %>
      </div>
      
      <div class="user-content col-xs-10">
        <div>
          <h2><%= @user.name %>&nbsp;&nbsp;&nbsp;</h2>
          <% if @user.sex == "male" %>
            <i class="fas fa-male fa-lg"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <% elsif @user.sex == "female" %>
            <i class="fas fa-female fa-lg"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <% else %>
            <span data-toggle="tooltip" data-placement="top" title="性別が選択されていません"><i class="fas fa-question fa-lg" ></i></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <% end %>
              <% if current_user == @user %>
                <span class="profile-edit-btn"><%= link_to "プロフィール編集", edit_user_path, class: 'btn btn-outline-secondary btn-sm align-text-top' %></span>
              <% end %>
        </div>
        <div class="user-introduction">
          <p><%= @user.introduction %></p>
        </div>
      </div>
      
    </div>
  </div>


<!--投稿一覧表示-->
  <div class="row">
    <div class="user-show col-xs-12">
      <div class="posts-tab">
        <div class="mypage-active">MyGIFT一覧&nbsp;&nbsp;<span class="badge badge-secondary"><%= @count_posts %></span></div>
        <div class="mypage-noactive">
          <%= link_to 'いいね一覧', likes_user_path %>&nbsp;&nbsp;<span class="badge badge-secondary"><%= @count_likes %></span>
        </div>
      </div>
    </div>
  </div>
  
  <div class="row row-2">
    <div class="posts-container col-xs-12">
       <%= render 'posts/posts', posts:@posts, post:@post %>
    </div>
  </div>

  <div class="pagepage">
    <%= paginate @posts %>
  </div>
  

<!--ページネーション-->
<%= render 'layouts/post_btn' %>

</div>

<script src="js/popper.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script>
  $('[data-toggle="tooltip"]').tooltip()
</script>