<!--<div class="text-center">-->

<!--プロフィールコンテンツ-->
  <div class="profile-container">
    <div class="media">
      <div class="user-icon img mr-3">
        <% if @user.icon.file.nil? %>
          <%= image_tag 'default_user.jpg' %>
        <% else %>
          <%= image_tag @user.icon.to_s %>
        <% end %>
      </div>
      <div class="user-content">
        <h2><%= @user.name %>&nbsp;&nbsp;</h2><i class="fas fa-<%= @user.sex %> fa-lg"></i>&nbsp;&nbsp;
          <span class="user-edit-icon">  
            <% if current_user == @user %>
              <%= link_to edit_user_path do %><i class="fas fa-user-edit"></i><% end %>
              <%= link_to new_post_path do %><i class="fas fa-gift"></i><% end %>
            <% end %>
          </span>
        <div class="user-introduction">
          <p><%= @user.introduction %></p>
        </div>
      </div>
    </div>
  </div>


<!--投稿一覧表示-->
  <div class="row row-0">
    <div class="posts-container user-show">
      <div class="posts-tab">
        <p class="mypage-active">MyGIFT一覧&nbsp;&nbsp;<span class="badge badge-secondary"><%= @count_posts %></span></p>
        <div class="mypage-noactive">
          <%= link_to 'いいねした投稿一覧', likes_user_path %>&nbsp;&nbsp;<span class="badge badge-secondary"><%= @count_likes %></span>
        </div>
      </div>
      <div class="posts">
        <%= render 'posts/posts', posts:@posts %>
      </div>
    </div>
  </div>
  
  <div class="pagepage">
    <%= paginate @posts %>
  </div>

<!--</div>-->



    <!--<%#= link_to 'いいねした投稿一覧', likes_user_path, class:"btn btn-primary" %>-->
    <!--<p> 投  稿：<%#= @count_posts %>件 </p>-->
    <!--<p> いいね：<%#= @count_likes %>件 </p>-->
