<!--ログイン後トップページ（投稿一覧）-->

<% if logged_in? %>
<div class="container  container-toppage">
  <div class="row row-index">
    <div class="col-md-8" style="font-size: 30px;">Everyone's GIFT</div>
    <div class="col-md-4">
      <%= form_tag ('/posts/search'), :method => 'get', class: "form-inline my-2 my-lg-0 flex-nowrap" do %>
        <%= text_field_tag :search, '', class: "form-control mr-sm-0", :placeholder => "search" %>
          <button class="btn btn-outline-secondary my-2 my-sm-0" type="secondary"><i class="fas fa-search"></i></button>
      <% end %>
    </div>
  </div>
  
  <div class="row row-2">
    <div class="posts-container col-xs-12">
        <%= render 'posts/posts', posts:@posts, post:@post %>
    </div>
  </div>
  
  <div class="pagepage">
    <%= paginate @posts %>
  </div>
</div>

<%= render 'layouts/post_btn' %>
 
<% else %>




<!--ログイン前トップページ-->

  <div class="container-fluid top-page  no-gutters">

    <div class="col-12 top-image">
      <div class="top-img-comment">
        <h2>GIFTY!</h2>
        <p>贈り物のアイディア、共有しませんか？</p>
      </div>
    </div>
    
  </div>

<div class= "container app-introduction">
  
      <h5 class="introduction-top1"><div class="catch1">What is &nbsp;<span>GIFTY!</span> &nbsp;?</div></h5>
 
  <div class="media app-introduction">
    <img src="/assets/gifty_toppage_.png" alt="メディアの画像" class="app-img-left">
    <div class="media-body introduction-txt">
      <h5 class="mt-0">GIFTの共有</h5>
      <p>贈り物をするとき、悩んだことはありませんか？GIFTY!は贈り物を投稿し共有するためのサイトです。GIFTY!で贈り物に無限のアイディアを。</p>
    </div>
  </div>

  <div class="media app-introduction">
    <div class="media-body introduction-txt">
      <h5 class="mt-0">MY GIFT機能</h5>
      <p>贈り物を投稿することでMY GIFTに保存することができます。また、いいね機能により気に入った投稿を保存することができます。</p>
    </div>
    <img src="/assets/gifty_mypage_.png" alt="メディアの画像" class="app-img-right">
  </div>

  <div class="media app-introduction">
    <img src="/assets/gifty_res_.png" alt="メディアの画像" class="app-img-left">
    <div class="media-body introduction-txt">
      <h5 class="mt-0">スマホ/タブレット 対応</h5>
      <p>当アプリケーションはPCだけでなくスマホ/タブレットに対応しています。外出先でも気軽に利用してください！</p>
    </div>
  </div>
  
  <h5 class="introduction-top2"><div class="catch2">What is &nbsp;<span>GIFTY!</span> &nbsp;?</div></h5>
  
  <div class="signup-content">
    <div class="row recommend-signup">
      <p class="col-md-8">まずは新規ユーザ登録から始めましょう。</p>
      <div class="" style="margin: 0 auto;">
          <%= link_to 'Signup now!!', signup_path, class:"btn btn-outline-info btn-lg" %>
      </div>
    </div>
    <p style="margin: 30px auto; text-align:center;"><%= link_to  'すでに登録している方はこちら', login_path %></p>
  </div>

</div>

<footer class="container-fluid">
    &copy; 2020 Teruya Sawamura All Right Reserved.
</footer>
    
<% end %>