<% if logged_in? %>

</div>
  <div class="row row-0">
    <div class="index-title">
      <span>Everyone's GIFT</span>
      <span>
        <%= form_tag ('/posts/search'), :method => 'get', class: "form-inline my-2 my-lg-0" do %>
          <%= text_field_tag :search, '', class: "form-control mr-sm-2", :placeholder => "search" %>
            <button class="btn btn-outline-secondary my-2 my-sm-0" type="secondary"><i class="fas fa-search"></i></button>
        <% end %>
      </span>

      <!--<span>-->
      <!--  <p>検索</p>-->
      <!--    <%#= form_tag(search_topppages_path,:method => 'get') do %>-->
      <!--      <%#= text_field_tag :search %>-->
      <!--      <%#= submit_tag 'Search', :name => nil %>-->
      <!--    <%# end %>-->
      <!--</span>-->
    </div>
    <div class="posts-container index-posts">
      <div class="posts">
        <%= render 'posts/posts', posts:@posts, post:@post %>
      </div>
    </div>
  </div>
  
  <div class="pagepage">
    <%= paginate @posts %>
  </div>
 
<% else %>
    <div class="container-fluid">
      <div class="row">
        <div class="col no-gutters">
          <img class="img-fluid" src="/assets/gifty_image.png">
        </div>
      </div>
    </div>

  <div class="container text-center">
    <%= link_to 'Signup', signup_path, class:"btn btn-primary" %>
    <%= link_to 'Login', login_path, class:"btn btn-primary" %>
  </div>
  
  <div class="container text-center">
    <p>aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa</p>
    <p>aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa</p>
    <p>aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa</p>
  </div>
  
<% end %>


