<div class="container">
  <div class="row row-index">
    <!--<div class="index-title">-->
      <div class="col-md-8" style="font-size: 30px;">検索結果</div>
      <div class="col-md-4">
        <%= form_tag ('/posts/search'), :method => 'get', class: "form-inline my-2 my-lg-0 flex-nowrap" do %>
          <%= text_field_tag :search, '', class: "form-control mr-sm-0", :placeholder => "search" %>
            <button class="btn btn-outline-secondary my-2 my-sm-0" type="secondary"><i class="fas fa-search"></i></button>
        <% end %>
      </div>
    <!--</div>-->
  </div>
  
  <div class="row row-2">
    <div class="posts-container col-xs-12">
        <%= render 'posts/posts', posts:@posts, post:@post %>
    </div>
  </div>
  
  <div class="pagepage">
    <%= paginate @posts %>
  </div>
</div>

<%= render 'layouts/post_btn' %>
