<header class="mb-0 fixed-top">
  <nav class="navbar navbar-expand-sm navbar navbar-light ">
    <a class="navbar-brand" href="/">GIFTY!</a>
    <!-- 横幅が狭い時に出るハンバーガーボタン -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- メニュー項目 -->
    <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
      <ul class="navbar-nav">
        <% if logged_in? %>
          <li class="nav-item logged-in"><%= link_to user_path(current_user) do %><i class="fas fa-user"></i><% end %></li>
          <li class="nav-item logged-in"><%= link_to new_post_path do %><i class="fas fa-gift"></i><% end %></li>
          <li class="nav-item logged-in"><%= link_to logout_path, method: :delete do %><i class="fas fa-sign-out-alt"></i><% end %></li>
        <% else %>
          <li class="nav-item"><%= link_to  '新規登録', signup_path, class: 'nav-link' %></li>
          <li class="nav-item"><%= link_to  'ログイン', login_path, class: 'nav-link' %></li>
        <% end %>
      </ul>
    </div>
  </nav>
</header>
